<?xml version="1.0"?>
<ruleset name="Project">
    <description>PHPCS ruleset for project-owned WordPress runtime code (mu-plugins,
    custom theme code). Project bootstrap (config/, web/wp-config.php) and build
    scripts (scripts/composer/) deliberately follow PSR-12, not WPCS, and are
    not scanned here. Starts from Pantheon-WP-Minimum so we can ratchet up to
    Pantheon-WP once the baseline is clean.</description>

    <file>web/wp-content/themes/sage/app</file>
    <file>web/wp-content/themes/sage/config</file>
    <file>web/wp-content/themes/sage/functions.php</file>

    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/web/wp/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="Pantheon-WP-Minimum">
        <!-- File naming / structure -->
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="PSR12.Files.FileHeader.IncorrectOrder"/>
        <exclude name="PSR2.Namespaces.NamespaceDeclaration.BlankLineAfter"/>

        <!-- Doc/comment presence and structure -->
        <exclude name="Squiz.Commenting.FileComment.Missing"/>
        <exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
        <exclude name="Squiz.Commenting.FileComment.SpacingAfterComment"/>
        <exclude name="Squiz.Commenting.FileComment.WrongStyle"/>
        <exclude name="Squiz.Commenting.ClassComment.Missing"/>
        <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
        <exclude name="Squiz.Commenting.FunctionComment.DuplicateReturn"/>
        <exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
        <exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType"/>
        <exclude name="Squiz.Commenting.BlockComment.WrongEnd"/>
        <exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
        <exclude name="Squiz.Commenting.InlineComment.WrongStyle"/>
        <exclude name="Squiz.Commenting.InlineComment.NoSpaceBefore"/>
        <exclude name="Squiz.Commenting.InlineComment.SpacingBefore"/>
        <exclude name="Generic.Commenting.DocComment.SpacingBeforeTags"/>
        <exclude name="Generic.Commenting.DocComment.LongNotCapital"/>
        <exclude name="Pantheon_WP_Minimum.Commenting.DisallowMultilineSlashComment.Found"/>

        <!-- Indentation / tab vs. space -->
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed"/>
        <exclude name="Generic.WhiteSpace.ScopeIndent.Incorrect"/>
        <exclude name="Generic.WhiteSpace.ScopeIndent.IncorrectExact"/>
        <exclude name="Universal.WhiteSpace.DisallowInlineTabs.NonIndentTabsUsed"/>
        <exclude name="Universal.WhiteSpace.PrecisionAlignment.Found"/>

        <!-- Brace placement -->
        <exclude name="Generic.Classes.OpeningBraceSameLine.BraceOnNewLine"/>
        <exclude name="Generic.Functions.OpeningFunctionBraceKernighanRitchie.BraceOnNewLine"/>
        <exclude name="PSR2.Classes.ClassDeclaration.CloseBraceAfterBody"/>
        <exclude name="PSR2.Methods.FunctionClosingBrace.SpacingBeforeClose"/>
        <exclude name="PSR12.Traits.UseDeclaration.SpaceAfterOpeningBrace"/>
        <exclude name="PSR12.Traits.UseDeclaration.SpaceBeforeClosingBrace"/>

        <!-- Function declaration / call signature spacing -->
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.SpaceAfterFunction"/>
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingAfterOpen"/>
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingBeforeClose"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.Indent"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceAfterOpenBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket"/>
        <exclude name="Generic.Functions.FunctionCallArgumentSpacing.NoSpaceAfterComma"/>
        <exclude name="Generic.Functions.FunctionCallArgumentSpacing.SpaceBeforeComma"/>

        <!-- Control structure / operator / cast spacing -->
        <exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterCloseBrace"/>
        <exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterOpenParenthesis"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterStructureOpen"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeCloseParenthesis"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeOpenParenthesis"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.BlankLineAfterEnd"/>
        <exclude name="WordPress.WhiteSpace.OperatorSpacing.NoSpaceAfter"/>
        <exclude name="WordPress.WhiteSpace.OperatorSpacing.NoSpaceBefore"/>
        <exclude name="Generic.WhiteSpace.ArbitraryParenthesesSpacing.SpaceAfterOpen"/>
        <exclude name="Generic.WhiteSpace.ArbitraryParenthesesSpacing.SpaceBeforeClose"/>
        <exclude name="Generic.Formatting.SpaceAfterCast.NoSpace"/>
        <exclude name="Squiz.Strings.ConcatenationSpacing.PaddingFound"/>
        <exclude name="Universal.WhiteSpace.CommaSpacing.NoSpaceAfter"/>

        <!-- Alignment -->
        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
        <exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>
        <exclude name="WordPress.Arrays.ArrayIndentation.ItemNotAligned"/>

        <!-- Array syntax / spacing -->
        <exclude name="Universal.Arrays.DisallowShortArraySyntax.Found"/>
        <exclude name="NormalizedArrays.Arrays.ArrayBraceSpacing.SpaceAfterArrayOpenerSingleLine"/>
        <exclude name="NormalizedArrays.Arrays.ArrayBraceSpacing.SpaceBeforeArrayCloserSingleLine"/>
        <exclude name="NormalizedArrays.Arrays.CommaAfterLast.MissingMultiLine"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound"/>
        <exclude name="WordPress.Arrays.ArrayKeySpacingRestrictions.NoSpacesAroundArrayKeys"/>

        <!-- Naming conventions (style, not bug-prevention) -->
        <exclude name="WordPress.NamingConventions.ValidFunctionName.FunctionNameInvalid"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase"/>
        <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames.publicFound"/>
        <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames.stringFound"/>

        <!-- Style preferences -->
        <exclude name="Squiz.PHP.CommentedOutCode.Found"/>
        <exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
        <exclude name="Universal.Operators.DisallowShortTernary.Found"/>
        <exclude name="Universal.Operators.DisallowStandalonePostIncrementDecrement.PostIncrementFound"/>
    </rule>

    <config name="minimum_supported_wp_version" value="6.4"/>
    <config name="testVersion" value="8.3-"/>
</ruleset>
