parameters:
	ignoreErrors:
		-
			message: '#^Found usage of constant WP_INSTALLING\. Use wp_installing\(\) instead\.$#'
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: web/wp-content/mu-plugins/loader.php

		-
			message: '#^Function app not found\.$#'
			identifier: function.notFound
			count: 2
			path: web/wp-content/themes/sage/index.php
